/* Global Styles - Applies to all elements within the <body> */
body {
    font-family: Arial, sans-serif; /* Sets the font for the entire page */
    background-color: #eed9be; /* Light beige background for the entire page */
    color: #412e2e; /* Dark brown text color for the entire page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh; /* Ensure body takes full height of the viewport */
    display: flex;
    flex-direction: column; /* Flex layout to manage content and footer */
}

/* Ensure the content area grows to fill available space */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the root element takes full height */
}

/* Ensure the content area grows to fill available space */
.content {
    flex: 1; /* Allows content to grow and take up available space */
}

/* Styles for the main heading (h1) */
.homePageTitle {
    color: #6a5d19; /* Dark yellow color for the main heading */
    text-align: center; /* Centers the text horizontally */
    text-shadow: 
        -1px -1px 0 rgb(68, 95, 125),  
         1px -1px 0 rgb(68, 95, 125),
        -1px  1px 0 rgb(68, 95, 125),
         1px  1px 0 rgb(68, 95, 125),
         4px 4px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow effect */
    -webkit-text-stroke: 1px rgb(68, 95, 125); /* Adds a blue stroke to the text */
    pointer-events: none;
}

/* Footer Styles */
.footer {
    background-color: #412e2e; /* Dark brown background for footer */
    color: #eed9be; /* Light beige text color for footer */
    text-align: center;
    padding: 20px;
    width: 100%;
}


